html * {
    background-color: rgb(26, 23, 10);
    color: rgb(255, 228, 107);
    font-size: large;
}

.row {
    display: flex;
    flex-direction: row;
}

.row_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
}

.m15 {
    margin: 15px;
}

.m5 {
    margin: 5px;
}

.small_img {
    width: 20ch;
    height: 20ch;
}

.elt_box {
    border: 1px solid rgba(255, 228, 107, 0.3);
    margin: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.elt_box *,
.elt_box {
    background-color: rgb(32, 29, 15);
}

.center {
    margin: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align: center;
    text-align: center;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7ch;
    background-color: rgb(49, 45, 27);
    border-bottom: 1px solid rgb(255, 228, 107);
}

#header * {
    background-color: rgb(49, 45, 27);
}

.hmax {
    height: 100%;
}

.wmax {
    width: 100%;
}

#bt_menu {
    margin: 1ch;
    width: 5ch;
    height: 5ch;
    background-color: rgb(88, 74, 36);
    background-image: url("../res/icon_menu.svg");
    background-size: 100% 100%;
    transform: rotate(0);
    border-radius: 5px;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}

#bt_menu:hover {
    margin: 0.85ch;
    width: 5.3ch;
    height: 5.3ch;
    background-color: rgb(193, 151, 74);
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

#bt_menu:active {
    margin: 1.5ch;
    width: 4ch;
    height: 4ch;
    background-color: rgb(82, 63, 11);
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

#div_large_img {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#subdiv_large_img {
    margin: auto;
    width: 80%;
    height: 80%;
    margin: 5%;
    background-color: transparent;
    background: transparent;
}

#subdiv_large_img * {
    background-color: transparent;
}

#div_large_img * {
    background-color: transparent;
}

.large_img {
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main_page {
    overflow: auto;
    margin-top: 8ch;
}

#div_menu {
    position: fixed;
    top: 7ch;
    left: 0;
    bottom: 0;
    width: 40%;
    border-top: 1px solid rgb(255, 228, 107);
    border-right: 1px solid rgb(255, 129, 107);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bt1 {
    margin: 5px;
    padding: 7px;
    background: transparent;
    color: rgb(255, 228, 107);
    box-shadow: none;
    border: 1px solid rgb(255, 228, 107);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bt1:hover {
    padding: 9px;
    color: rgb(255, 228, 107);
    box-shadow: rgba(255, 228, 107, 0.2) 0px 0px 5px 3px;
}

.bt1:active {
    padding: 7px;
    color: rgb(255, 129, 107);
    border: 1px solid rgb(255, 129, 107);
    box-shadow: rgba(255, 142, 107, 0.2) 0px 0px 5px 3px;
}

.bt1_actif {
    margin: 5px;
    padding: 7px;
    background: transparent;
    color: rgb(255, 129, 107);
    box-shadow: none;
    border: 1px solid rgb(255, 129, 107);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bt1_actif:hover {
    padding: 9px;
    color: rgb(255, 129, 107);
    box-shadow: rgba(255, 129, 107, 0.2) 0px 0px 5px 3px;
}

.bt1_actif:active {
    padding: 7px;
    color: rgb(255, 129, 107);
    border: 1px solid rgb(255, 129, 107);
    box-shadow: rgba(255, 142, 107, 0.2) 0px 0px 5px 3px;
}

.bt2 {
    margin: 5px;
    padding: 7px;
    background: transparent;
    color: rgb(107, 179, 255);
    box-shadow: none;
    border: 1px solid rgb(107, 179, 255);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bt2:hover {
    padding: 9px;
    color: rgb(107, 179, 255);
    box-shadow: rgba(107, 179, 255, 0.2) 0px 0px 5px 3px;
}

.bt2:active {
    padding: 7px;
    color: rgb(107, 255, 191);
    border: 1px solid rgb(107, 255, 191);
    box-shadow: rgba(107, 255, 191, 0.2) 0px 0px 5px 3px;
}

.bt2_actif {
    margin: 5px;
    padding: 7px;
    background: transparent;
    color: rgb(107, 255, 191);
    box-shadow: none;
    border: 1px solid rgb(107, 255, 191);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.bt2_actif:hover {
    padding: 9px;
    color: rgb(107, 255, 191);
    box-shadow: rgba(107, 255, 191, 0.2) 0px 0px 5px 3px;
}

.bt2_actif:active {
    padding: 7px;
    color: rgb(107, 255, 191);
    border: 1px solid rgb(107, 255, 191);
    box-shadow: rgba(107, 255, 191, 0.2) 0px 0px 5px 3px;
}