res/pictures/AnalogMadness/animals/*
res/pictures/AnalogMadness/landscapes/*
res/pictures/AnalogMadness/people/*
res/pictures/FreedomRedmond/animals/*
res/pictures/FreedomRedmond/landscapes/*
res/pictures/FreedomRedmond/people/*
res/pictures/DreamShaper/animals/*
res/pictures/DreamShaper/landscapes/*
res/pictures/DreamShaper/people/*